$grey-color: #454545;
$form-color: #ccc;
$white-color: #fff;

$small-only-width: 39.9375em;
$medium-up-min-width: 40em;
$medium-up-max-width: 63.9375em;
$large-up-min-width: 64em;
$large-up-max-width: 74.9375em;