.sections-container {
  grid-column-start: 1;
  grid-row-start: 2;
  max-width: 1280px;

  @include mediumUp {
    grid-column-start: 2;
    grid-row-start: 1;
  }
}

.section {
  width: calc(100vw - 20px);
  padding: 20px 10px 0;

  @include mediumUp {
    width: auto;
    padding: 40px 100px 0;
  }
}
